<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	 xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">
	
	<description>数据源配置</description>

    <!-- exchange slave 数据库 -->
    <bean id="dataSourceManage_exchange" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="${db_exchange_jdbc_url}"/>
        <property name="username" value="${db_exchange_jdbc_username}"/>
        <property name="password" value="${db_exchange_jdbc_password}"/>
        <!-- 连接池启动时创建的初始化连接数量（默认值为0） -->
        <property name="initialSize" value="1"/>
        <!-- 连接池中可同时连接的最大的连接数 默认 8-->
        <property name="maxActive" value="100"/>
        <!-- 连接池中最小的空闲的连接数，低于这个数量会被创建新的连接 -->
        <property name="minIdle" value="5"/>
        <!-- 连接池中最大的空闲的连接数，超过的空闲连接将被释放，如果设置为负数表示不限制 默认8 -->
        <property name="maxIdle" value="30"/>
        <!-- 最大等待时间，当没有可用连接时，连接池等待连接释放的最大时间，超过该时间限制会抛出异常，如果设置-1表示无限等待 -->
        <property name="maxWait" value="60000"/>
        <!-- 超过removeAbandonedTimeout时间后，是否进 行没用连接（废弃）的回收（默认为false，调整为true)-->
        <property name="removeAbandoned" value="true"/>
        <!-- 超过时间限制，回收没有用(废弃)的连接（默认为 300秒，调整为180） -->
        <property name="removeAbandonedTimeout" value="180"/>
        <!-- 默认提交 -->
        <property name="defaultAutoCommit" value="true"/>
        <!-- 打开检查,用异步线程evict进行检查 -->
        <property name="testWhileIdle" value="true"/>
        <!-- 就是在进行borrowObject进行处理时，对拿到的connection进行validateObject校验 -->
        <property name="testOnBorrow" value="false"/>
        <!-- 就是在进行returnObject对返回的connection进行validateObject校验，个人觉得对数据库连接池的管理意义不大 -->
        <property name="testOnReturn" value="false"/>
        <!--  代表检查的sql -->
        <property name="validationQuery" value="select 1 from dual"/>
        <!-- 代表在执行检查时，通过statement设置，statement.setQueryTimeout(validationQueryTimeout)  -->
        <property name="validationQueryTimeout" value="1"/>
        <property name="timeBetweenEvictionRunsMillis" value="30000"/>
        <!-- 代表每次检查链接的数量，建议设置和maxActive一样大，这样每次可以有效检查所有的链接.  -->
        <property name="numTestsPerEvictionRun" value="100"/>
    </bean>
    


   


    <bean id="dataSourceInterceptor" class="com.chainup.operate.datasource.DataSourceInterceptor"/>
    <aop:config>
        <aop:aspect id="dataSourceAspect" ref="dataSourceInterceptor">
            <aop:pointcut id="exchange" expression="execution(* com.chainup.exchange.dao..*.*(..))"/>
            <aop:pointcut id="exchange_risk" expression="execution(* com.chainup.stats.dao..*.*(..))"/>
            <aop:before method="setdataSourceExchange" pointcut-ref="exchange"/>

        </aop:aspect>
    </aop:config>

    <bean id="transactionManager_master" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceManage_exchange"/>
    </bean>


    
    <!-- 配置SqlSessionFactoryBean -->
    <bean id="sqlSessionFactoryManage" name="sqlSessionFactoryManage" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceManage_exchange"/>
        <!-- mapper和resultmap配置路径 -->
        <property name="mapperLocations">
            <list>
                <value>classpath:com/chainup/exchange/dao/**/*Mapper.xml</value>
                <value>classpath:com/chainup/stats/dao/**/*Mapper.xml</value>
            </list>
        </property>
        <property name="configLocation" value="classpath:mybatis-typealias.xml" />
        <property name="plugins">
            <array>
               <bean id="tableSegInterceptor" class="com.chainup.common.mybatis.MybatisInterceptor">
                    <constructor-arg index="0">
                        <value>info</value>
                    </constructor-arg>
                    <constructor-arg index="1">
                        <value>1</value>
                    </constructor-arg>
                </bean>
            </array>
        </property>
    </bean>

    <!-- 通过扫描的模式，扫描目录下，所有的mapper都继承SqlMapper接口的接口， 这样一个bean就可以了 -->
    <bean id="manageMapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.chainup.exchange.dao,com.chainup.stats.dao"/>
        <property name="markerInterface" value="com.chainup.common.dao.SqlMapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryManage"/>
    </bean>
    
    <!-- 配置事务管理 -->
    <tx:annotation-driven transaction-manager="transactionManager_master" proxy-target-class="true" />
    <!-- 支持 @AspectJ 标记--> 
     <aop:aspectj-autoproxy />
     
	
</beans>
