<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chainup.exchange.dao.CoinApplyMapper">
  <resultMap id="BaseResultMap" type="com.chainup.common.exchange.entity.CoinApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="projectTeam" jdbcType="VARCHAR" property="projectteam" />
    <result column="projectName" jdbcType="VARCHAR" property="projectname" />
    <result column="linkAddress" jdbcType="VARCHAR" property="linkaddress" />
    <result column="whitePaper" jdbcType="VARCHAR" property="whitepaper" />
    <result column="projectIntroduction" jdbcType="VARCHAR" property="projectintroduction" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="exchangePurse" jdbcType="BIT" property="exchangepurse" />
    <result column="isErc20" jdbcType="BIT" property="iserc20" />
    <result column="noErc20Description" jdbcType="VARCHAR" property="noerc20description" />
    <result column="newContractAddress" jdbcType="VARCHAR" property="newcontractaddress" />
    <result column="totalAmountMechanism" jdbcType="VARCHAR" property="totalamountmechanism" />
    <result column="isMarketPromotion" jdbcType="BIT" property="ismarketpromotion" />
    <result column="marketPromotionDescription" jdbcType="VARCHAR" property="marketpromotiondescription" />
    <result column="communityLinks" jdbcType="VARCHAR" property="communitylinks" />
    <result column="browserlLinks" jdbcType="VARCHAR" property="browserllinks" />
    <result column="isRaise" jdbcType="BIT" property="israise" />
    <result column="raiseDescription" jdbcType="VARCHAR" property="raisedescription" />
    <result column="isIco" jdbcType="BIT" property="isico" />
    <result column="icoDescription" jdbcType="VARCHAR" property="icodescription" />
    <result column="isRecommendation" jdbcType="BIT" property="isrecommendation" />
    <result column="recommendationDescription" jdbcType="VARCHAR" property="recommendationdescription" />
    <result column="filenames" jdbcType="VARCHAR" property="filenames" />
    <result column="fileurl" jdbcType="VARCHAR" property="fileurl" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="mtime" jdbcType="TIMESTAMP" property="mtime" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, uid, projectTeam, projectName, linkAddress, whitePaper, projectIntroduction, 
    country, exchangePurse, isErc20, noErc20Description, newContractAddress, totalAmountMechanism, 
    isMarketPromotion, marketPromotionDescription, communityLinks, browserlLinks, isRaise, 
    raiseDescription, isIco, icoDescription, isRecommendation, recommendationDescription, 
    ctime,mtime,status,reason
  </sql>
  <select id="selectByExample" parameterType="com.chainup.common.exchange.entity.CoinApplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from coin_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from coin_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from coin_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chainup.common.exchange.entity.CoinApplyExample">
    delete from coin_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chainup.common.exchange.entity.CoinApply">
    insert into coin_apply (uid, projectTeam, 
      projectName, linkAddress, whitePaper, 
      projectIntroduction, country, exchangePurse, 
      isErc20, noErc20Description, newContractAddress, 
      totalAmountMechanism, isMarketPromotion, marketPromotionDescription, 
      communityLinks, browserlLinks, isRaise, 
      raiseDescription, isIco, icoDescription, 
      isRecommendation, recommendationDescription, 
      ctime,filenames,fileurl,mtime,status,reason)
    values (#{uid}, #{projectteam}, 
      #{projectname}, #{linkaddress}, #{whitepaper}, 
      #{projectintroduction}, #{country}, #{exchangepurse}, 
      #{iserc20}, #{noerc20description}, #{newcontractaddress}, 
      #{totalamountmechanism}, #{ismarketpromotion}, #{marketpromotiondescription}, 
      #{communitylinks}, #{browserllinks}, #{israise}, 
      #{raisedescription}, #{isico}, #{icodescription}, 
      #{isrecommendation}, #{recommendationdescription}, 
      #{ctime},#{filenames},#{fileurl},#{mtime},#{status},#{reason})
  </insert>
  <insert id="insertSelective" parameterType="com.chainup.common.exchange.entity.CoinApply">
    insert into coin_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="projectteam != null">
        projectTeam,
      </if>
      <if test="projectname != null">
        projectName,
      </if>
      <if test="linkaddress != null">
        linkAddress,
      </if>
      <if test="whitepaper != null">
        whitePaper,
      </if>
      <if test="projectintroduction != null">
        projectIntroduction,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="exchangepurse != null">
        exchangePurse,
      </if>
      <if test="iserc20 != null">
        isErc20,
      </if>
      <if test="noerc20description != null">
        noErc20Description,
      </if>
      <if test="newcontractaddress != null">
        newContractAddress,
      </if>
      <if test="totalamountmechanism != null">
        totalAmountMechanism,
      </if>
      <if test="ismarketpromotion != null">
        isMarketPromotion,
      </if>
      <if test="marketpromotiondescription != null">
        marketPromotionDescription,
      </if>
      <if test="communitylinks != null">
        communityLinks,
      </if>
      <if test="browserllinks != null">
        browserlLinks,
      </if>
      <if test="israise != null">
        isRaise,
      </if>
      <if test="raisedescription != null">
        raiseDescription,
      </if>
      <if test="isico != null">
        isIco,
      </if>
      <if test="icodescription != null">
        icoDescription,
      </if>
      <if test="isrecommendation != null">
        isRecommendation,
      </if>
      <if test="recommendationdescription != null">
        recommendationDescription,
      </if>
      <if test="filenames != null">
        filenames,
      </if>
      <if test="fileurl != null">
        fileurl,
      </if>
      <if test="mtime != null">
        mtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="reason != null">
        reason,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="projectteam != null">
        #{projectteam,jdbcType=VARCHAR},
      </if>
      <if test="projectname != null">
        #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="linkaddress != null">
        #{linkaddress,jdbcType=VARCHAR},
      </if>
      <if test="whitepaper != null">
        #{whitepaper,jdbcType=VARCHAR},
      </if>
      <if test="projectintroduction != null">
        #{projectintroduction,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="exchangepurse != null">
        #{exchangepurse,jdbcType=BIT},
      </if>
      <if test="iserc20 != null">
        #{iserc20,jdbcType=BIT},
      </if>
      <if test="noerc20description != null">
        #{noerc20description,jdbcType=VARCHAR},
      </if>
      <if test="newcontractaddress != null">
        #{newcontractaddress,jdbcType=VARCHAR},
      </if>
      <if test="totalamountmechanism != null">
        #{totalamountmechanism,jdbcType=VARCHAR},
      </if>
      <if test="ismarketpromotion != null">
        #{ismarketpromotion,jdbcType=BIT},
      </if>
      <if test="marketpromotiondescription != null">
        #{marketpromotiondescription,jdbcType=VARCHAR},
      </if>
      <if test="communitylinks != null">
        #{communitylinks,jdbcType=VARCHAR},
      </if>
      <if test="browserllinks != null">
        #{browserllinks,jdbcType=VARCHAR},
      </if>
      <if test="israise != null">
        #{israise,jdbcType=BIT},
      </if>
      <if test="raisedescription != null">
        #{raisedescription,jdbcType=VARCHAR},
      </if>
      <if test="isico != null">
        #{isico,jdbcType=BIT},
      </if>
      <if test="icodescription != null">
        #{icodescription,jdbcType=VARCHAR},
      </if>
      <if test="isrecommendation != null">
        #{isrecommendation,jdbcType=BIT},
      </if>
      <if test="recommendationdescription != null">
        #{recommendationdescription,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chainup.common.exchange.entity.CoinApplyExample" resultType="java.lang.Long">
    select count(*) from coin_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update coin_apply
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null">
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.projectteam != null">
        projectTeam = #{record.projectteam,jdbcType=VARCHAR},
      </if>
      <if test="record.projectname != null">
        projectName = #{record.projectname,jdbcType=VARCHAR},
      </if>
      <if test="record.linkaddress != null">
        linkAddress = #{record.linkaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.whitepaper != null">
        whitePaper = #{record.whitepaper,jdbcType=VARCHAR},
      </if>
      <if test="record.projectintroduction != null">
        projectIntroduction = #{record.projectintroduction,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null">
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.exchangepurse != null">
        exchangePurse = #{record.exchangepurse,jdbcType=BIT},
      </if>
      <if test="record.iserc20 != null">
        isErc20 = #{record.iserc20,jdbcType=BIT},
      </if>
      <if test="record.noerc20description != null">
        noErc20Description = #{record.noerc20description,jdbcType=VARCHAR},
      </if>
      <if test="record.newcontractaddress != null">
        newContractAddress = #{record.newcontractaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.totalamountmechanism != null">
        totalAmountMechanism = #{record.totalamountmechanism,jdbcType=VARCHAR},
      </if>
      <if test="record.ismarketpromotion != null">
        isMarketPromotion = #{record.ismarketpromotion,jdbcType=BIT},
      </if>
      <if test="record.marketpromotiondescription != null">
        marketPromotionDescription = #{record.marketpromotiondescription,jdbcType=VARCHAR},
      </if>
      <if test="record.communitylinks != null">
        communityLinks = #{record.communitylinks,jdbcType=VARCHAR},
      </if>
      <if test="record.browserllinks != null">
        browserlLinks = #{record.browserllinks,jdbcType=VARCHAR},
      </if>
      <if test="record.israise != null">
        isRaise = #{record.israise,jdbcType=BIT},
      </if>
      <if test="record.raisedescription != null">
        raiseDescription = #{record.raisedescription,jdbcType=VARCHAR},
      </if>
      <if test="record.isico != null">
        isIco = #{record.isico,jdbcType=BIT},
      </if>
      <if test="record.icodescription != null">
        icoDescription = #{record.icodescription,jdbcType=VARCHAR},
      </if>
      <if test="record.isrecommendation != null">
        isRecommendation = #{record.isrecommendation,jdbcType=BIT},
      </if>
      <if test="record.recommendationdescription != null">
        recommendationDescription = #{record.recommendationdescription,jdbcType=VARCHAR},
      </if>
      <if test="record.ctime != null">
        ctime = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update coin_apply
    set id = #{record.id,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      projectTeam = #{record.projectteam,jdbcType=VARCHAR},
      projectName = #{record.projectname,jdbcType=VARCHAR},
      linkAddress = #{record.linkaddress,jdbcType=VARCHAR},
      whitePaper = #{record.whitepaper,jdbcType=VARCHAR},
      projectIntroduction = #{record.projectintroduction,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      exchangePurse = #{record.exchangepurse,jdbcType=BIT},
      isErc20 = #{record.iserc20,jdbcType=BIT},
      noErc20Description = #{record.noerc20description,jdbcType=VARCHAR},
      newContractAddress = #{record.newcontractaddress,jdbcType=VARCHAR},
      totalAmountMechanism = #{record.totalamountmechanism,jdbcType=VARCHAR},
      isMarketPromotion = #{record.ismarketpromotion,jdbcType=BIT},
      marketPromotionDescription = #{record.marketpromotiondescription,jdbcType=VARCHAR},
      communityLinks = #{record.communitylinks,jdbcType=VARCHAR},
      browserlLinks = #{record.browserllinks,jdbcType=VARCHAR},
      isRaise = #{record.israise,jdbcType=BIT},
      raiseDescription = #{record.raisedescription,jdbcType=VARCHAR},
      isIco = #{record.isico,jdbcType=BIT},
      icoDescription = #{record.icodescription,jdbcType=VARCHAR},
      isRecommendation = #{record.isrecommendation,jdbcType=BIT},
      recommendationDescription = #{record.recommendationdescription,jdbcType=VARCHAR},
      ctime = #{record.ctime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chainup.common.exchange.entity.CoinApply">
    update coin_apply
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="projectteam != null">
        projectTeam = #{projectteam,jdbcType=VARCHAR},
      </if>
      <if test="projectname != null">
        projectName = #{projectname,jdbcType=VARCHAR},
      </if>
      <if test="linkaddress != null">
        linkAddress = #{linkaddress,jdbcType=VARCHAR},
      </if>
      <if test="whitepaper != null">
        whitePaper = #{whitepaper,jdbcType=VARCHAR},
      </if>
      <if test="projectintroduction != null">
        projectIntroduction = #{projectintroduction,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="exchangepurse != null">
        exchangePurse = #{exchangepurse,jdbcType=BIT},
      </if>
      <if test="iserc20 != null">
        isErc20 = #{iserc20,jdbcType=BIT},
      </if>
      <if test="noerc20description != null">
        noErc20Description = #{noerc20description,jdbcType=VARCHAR},
      </if>
      <if test="newcontractaddress != null">
        newContractAddress = #{newcontractaddress,jdbcType=VARCHAR},
      </if>
      <if test="totalamountmechanism != null">
        totalAmountMechanism = #{totalamountmechanism,jdbcType=VARCHAR},
      </if>
      <if test="ismarketpromotion != null">
        isMarketPromotion = #{ismarketpromotion,jdbcType=BIT},
      </if>
      <if test="marketpromotiondescription != null">
        marketPromotionDescription = #{marketpromotiondescription,jdbcType=VARCHAR},
      </if>
      <if test="communitylinks != null">
        communityLinks = #{communitylinks,jdbcType=VARCHAR},
      </if>
      <if test="browserllinks != null">
        browserlLinks = #{browserllinks,jdbcType=VARCHAR},
      </if>
      <if test="israise != null">
        isRaise = #{israise,jdbcType=BIT},
      </if>
      <if test="raisedescription != null">
        raiseDescription = #{raisedescription,jdbcType=VARCHAR},
      </if>
      <if test="isico != null">
        isIco = #{isico,jdbcType=BIT},
      </if>
      <if test="icodescription != null">
        icoDescription = #{icodescription,jdbcType=VARCHAR},
      </if>
      <if test="isrecommendation != null">
        isRecommendation = #{isrecommendation,jdbcType=BIT},
      </if>
      <if test="recommendationdescription != null">
        recommendationDescription = #{recommendationdescription,jdbcType=VARCHAR},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chainup.common.exchange.entity.CoinApply">
    update coin_apply
    set uid = #{uid,jdbcType=INTEGER},
      projectTeam = #{projectteam,jdbcType=VARCHAR},
      projectName = #{projectname,jdbcType=VARCHAR},
      linkAddress = #{linkaddress,jdbcType=VARCHAR},
      whitePaper = #{whitepaper,jdbcType=VARCHAR},
      projectIntroduction = #{projectintroduction,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      exchangePurse = #{exchangepurse,jdbcType=BIT},
      isErc20 = #{iserc20,jdbcType=BIT},
      noErc20Description = #{noerc20description,jdbcType=VARCHAR},
      newContractAddress = #{newcontractaddress,jdbcType=VARCHAR},
      totalAmountMechanism = #{totalamountmechanism,jdbcType=VARCHAR},
      isMarketPromotion = #{ismarketpromotion,jdbcType=BIT},
      marketPromotionDescription = #{marketpromotiondescription,jdbcType=VARCHAR},
      communityLinks = #{communitylinks,jdbcType=VARCHAR},
      browserlLinks = #{browserllinks,jdbcType=VARCHAR},
      isRaise = #{israise,jdbcType=BIT},
      raiseDescription = #{raisedescription,jdbcType=VARCHAR},
      isIco = #{isico,jdbcType=BIT},
      icoDescription = #{icodescription,jdbcType=VARCHAR},
      isRecommendation = #{isrecommendation,jdbcType=BIT},
      recommendationDescription = #{recommendationdescription,jdbcType=VARCHAR},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>