<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chainup.exchange.dao.CryptoAddressMapper">
  <resultMap id="BaseResultMap" type="com.chainup.common.exchange.entity.CryptoAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="is_used" jdbcType="TINYINT" property="isUsed" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, address, is_used, ctime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ${tableName}
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ${tableName}
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chainup.common.exchange.entity.CryptoAddress">
    insert into ${tableName} (id, address, is_used,
      ctime)
    values (#{id,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{isUsed,jdbcType=TINYINT}, 
      #{ctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chainup.common.exchange.entity.CryptoAddress">
    insert into ${tableName}
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="isUsed != null">
        is_used,
      </if>
      <if test="ctime != null">
        ctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null">
        #{isUsed,jdbcType=TINYINT},
      </if>
      <if test="ctime != null">
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chainup.common.exchange.entity.CryptoAddress">
    update ${tableName}
    <set>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="isUsed != null">
        is_used = #{isUsed,jdbcType=TINYINT},
      </if>
      <if test="ctime != null">
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chainup.common.exchange.entity.CryptoAddress">
    update ${tableName}
    set address = #{address,jdbcType=VARCHAR},
      is_used = #{isUsed,jdbcType=TINYINT},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByAddress" parameterType="com.chainup.common.exchange.entity.CryptoAddress">
    update ${tableName}
    set is_used = #{isUsed,jdbcType=TINYINT}
    where address = #{address,jdbcType=INTEGER}
  </update>
  <select id="selectByAddress" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ${tableName}
    where address = #{address,jdbcType=VARCHAR}
  </select>
  <select id="selectOneByIsUsed" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ${tableName}
    where is_used = #{isUsed,jdbcType=TINYINT}
    order by id asc limit 1
  </select>
</mapper>