<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chainup.exchange.dao.ExchangeAcountDayMapper" >
  <resultMap id="BaseResultMap" type="com.chainup.common.stats.entity.StatsAcountDay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="created_date" property="createdDate" jdbcType="DATE" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="coin_type" property="coinType" jdbcType="VARCHAR" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="selectUserAccountDay" resultType="java.util.Map">
  
        SELECT uid, substring_index(tag, "_" ,1) as coinType, 
        date_sub(curdate(),interval 1 day) as createDate, sum(balance) as totalBalance
		from account
		where uid > 10000
		<if test="typeList != null">
            and type in
            <foreach collection="typeList" item="typeList" open="(" close=")"
                     separator=",">
                #{typeList}
            </foreach>
        </if>
		GROUP BY uid, coinType
	</select>
	
	
	<select id="selectNewUserAccountDay" resultType="java.util.Map">
  
        SELECT uid, substring_index(tag, "_" ,1) as coinType, 
        curdate() as createDate, sum(balance) as totalBalance
		from account
		where uid > 10000
		<if test="typeList != null">
            and type in
            <foreach collection="typeList" item="typeList" open="(" close=")"
                     separator=",">
                #{typeList}
            </foreach>
        </if>
		GROUP BY uid, coinType
	</select>
  
</mapper>