<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chainup.exchange.dao.SrvVersionMapper" >
  <resultMap id="BaseResultMap" type="com.chainup.common.exchange.entity.SrvVersion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="build" property="build" jdbcType="INTEGER" />
    <result column="version" property="version" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="title_en" property="titleEn" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="content_en" property="contentEn" jdbcType="VARCHAR" />
    <result column="force_update" property="forceUpdate" jdbcType="TINYINT" />
    <result column="system_type" property="systemType" jdbcType="VARCHAR" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
    <result column="download_url" property="downloadUrl" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="getVersionsByAfterBuild" resultMap="BaseResultMap" parameterType="com.chainup.common.exchange.entity.SrvVersion">
	select * from srv_version t where t.build > #{build} and t.system_type=#{systemType} order by t.build desc
  </select>
</mapper>