<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chainup.exchange.dao.StatsSymbolRateMapper" >
  <resultMap id="BaseResultMap" type="com.chainup.common.stats.entity.StatsSymbolRate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="base_symbol" property="baseSymbol" jdbcType="VARCHAR" />
    <result column="quote_symbol" property="quoteSymbol" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, base_symbol, quote_symbol, rate, ctime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chainup.common.stats.entity.StatsSymbolRateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stats_symbol_rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stats_symbol_rate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stats_symbol_rate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chainup.common.stats.entity.StatsSymbolRateExample" >
    delete from stats_symbol_rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chainup.common.stats.entity.StatsSymbolRate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stats_symbol_rate (base_symbol, quote_symbol, rate, 
      ctime)
    values (#{baseSymbol,jdbcType=VARCHAR}, #{quoteSymbol,jdbcType=VARCHAR}, #{rate,jdbcType=DECIMAL}, 
      #{ctime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.chainup.common.stats.entity.StatsSymbolRate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stats_symbol_rate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="baseSymbol != null" >
        base_symbol,
      </if>
      <if test="quoteSymbol != null" >
        quote_symbol,
      </if>
      <if test="rate != null" >
        rate,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="baseSymbol != null" >
        #{baseSymbol,jdbcType=VARCHAR},
      </if>
      <if test="quoteSymbol != null" >
        #{quoteSymbol,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chainup.common.stats.entity.StatsSymbolRateExample" resultType="java.lang.Integer" >
    select count(*) from stats_symbol_rate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stats_symbol_rate
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.baseSymbol != null" >
        base_symbol = #{record.baseSymbol,jdbcType=VARCHAR},
      </if>
      <if test="record.quoteSymbol != null" >
        quote_symbol = #{record.quoteSymbol,jdbcType=VARCHAR},
      </if>
      <if test="record.rate != null" >
        rate = #{record.rate,jdbcType=DECIMAL},
      </if>
      <if test="record.ctime != null" >
        ctime = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stats_symbol_rate
    set id = #{record.id,jdbcType=INTEGER},
      base_symbol = #{record.baseSymbol,jdbcType=VARCHAR},
      quote_symbol = #{record.quoteSymbol,jdbcType=VARCHAR},
      rate = #{record.rate,jdbcType=DECIMAL},
      ctime = #{record.ctime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chainup.common.stats.entity.StatsSymbolRate" >
    update stats_symbol_rate
    <set >
      <if test="baseSymbol != null" >
        base_symbol = #{baseSymbol,jdbcType=VARCHAR},
      </if>
      <if test="quoteSymbol != null" >
        quote_symbol = #{quoteSymbol,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chainup.common.stats.entity.StatsSymbolRate" >
    update stats_symbol_rate
    set base_symbol = #{baseSymbol,jdbcType=VARCHAR},
      quote_symbol = #{quoteSymbol,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=DECIMAL},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>