<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chainup.exchange.dao.StationMessageMapper" >
  <resultMap id="BaseResultMap" type="com.chainup.common.exchange.entity.StationMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="send_content" property="sendContent" jdbcType="VARCHAR" />
    <result column="message_type" property="messageType" jdbcType="TINYINT" />
    <result column="send_uid" property="sendUid" jdbcType="INTEGER" />
    <result column="ctime" property="ctime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.chainup.common.exchange.entity.StationMessage" extends="BaseResultMap" >
    <result column="receive_uid" property="receiveUid" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, send_content, message_type, send_uid, ctime
  </sql>
  <sql id="Blob_Column_List" >
    receive_uid
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.chainup.common.exchange.entity.StationMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from station_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chainup.common.exchange.entity.StationMessageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from station_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from station_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from station_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.chainup.common.exchange.entity.StationMessageExample" >
    delete from station_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.chainup.common.exchange.entity.StationMessage" >
    insert into station_message (id, send_content, message_type, 
      send_uid, ctime, receive_uid
      )
    values (#{id,jdbcType=INTEGER}, #{sendContent,jdbcType=VARCHAR}, #{messageType,jdbcType=TINYINT}, 
      #{sendUid,jdbcType=INTEGER}, #{ctime,jdbcType=TIMESTAMP}, #{receiveUid,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chainup.common.exchange.entity.StationMessage" >
    insert into station_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sendContent != null" >
        send_content,
      </if>
      <if test="messageType != null" >
        message_type,
      </if>
      <if test="sendUid != null" >
        send_uid,
      </if>
      <if test="ctime != null" >
        ctime,
      </if>
      <if test="receiveUid != null" >
        receive_uid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sendContent != null" >
        #{sendContent,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null" >
        #{messageType,jdbcType=TINYINT},
      </if>
      <if test="sendUid != null" >
        #{sendUid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveUid != null" >
        #{receiveUid,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chainup.common.exchange.entity.StationMessageExample" resultType="java.lang.Integer" >
    select count(*) from station_message
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update station_message
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.sendContent != null" >
        send_content = #{record.sendContent,jdbcType=VARCHAR},
      </if>
      <if test="record.messageType != null" >
        message_type = #{record.messageType,jdbcType=TINYINT},
      </if>
      <if test="record.sendUid != null" >
        send_uid = #{record.sendUid,jdbcType=INTEGER},
      </if>
      <if test="record.ctime != null" >
        ctime = #{record.ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.receiveUid != null" >
        receive_uid = #{record.receiveUid,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update station_message
    set id = #{record.id,jdbcType=INTEGER},
      send_content = #{record.sendContent,jdbcType=VARCHAR},
      message_type = #{record.messageType,jdbcType=TINYINT},
      send_uid = #{record.sendUid,jdbcType=INTEGER},
      ctime = #{record.ctime,jdbcType=TIMESTAMP},
      receive_uid = #{record.receiveUid,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update station_message
    set id = #{record.id,jdbcType=INTEGER},
      send_content = #{record.sendContent,jdbcType=VARCHAR},
      message_type = #{record.messageType,jdbcType=TINYINT},
      send_uid = #{record.sendUid,jdbcType=INTEGER},
      ctime = #{record.ctime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chainup.common.exchange.entity.StationMessage" >
    update station_message
    <set >
      <if test="sendContent != null" >
        send_content = #{sendContent,jdbcType=VARCHAR},
      </if>
      <if test="messageType != null" >
        message_type = #{messageType,jdbcType=TINYINT},
      </if>
      <if test="sendUid != null" >
        send_uid = #{sendUid,jdbcType=INTEGER},
      </if>
      <if test="ctime != null" >
        ctime = #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveUid != null" >
        receive_uid = #{receiveUid,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chainup.common.exchange.entity.StationMessage" >
    update station_message
    set send_content = #{sendContent,jdbcType=VARCHAR},
      message_type = #{messageType,jdbcType=TINYINT},
      send_uid = #{sendUid,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP},
      receive_uid = #{receiveUid,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chainup.common.exchange.entity.StationMessage" >
    update station_message
    set send_content = #{sendContent,jdbcType=VARCHAR},
      message_type = #{messageType,jdbcType=TINYINT},
      send_uid = #{sendUid,jdbcType=INTEGER},
      ctime = #{ctime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>