<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chainup.exchange.dao.SymbolRateMapper" >
  <resultMap id="BaseResultMap" type="com.chainup.common.exchange.entity.SymbolRate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="base_symbol" property="baseSymbol" jdbcType="VARCHAR" />
    <result column="quote_symbol" property="quoteSymbol" jdbcType="VARCHAR" />
    <result column="rate" property="rate" jdbcType="DECIMAL" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="getSymbolRateList" resultMap="BaseResultMap" parameterType="com.chainup.common.exchange.entity.SymbolRate" >
   select * from symbol_rate
  </select>
  

  <select id="getSymbolRate" resultMap="BaseResultMap" parameterType="com.chainup.common.exchange.entity.SymbolRate" >
   select * from symbol_rate where base_symbol = #{baseSymbol} and quote_symbol = #{quoteSymbol}
  </select>
  
  <insert id="insertSymbolRate"  parameterType="com.chainup.common.exchange.entity.SymbolRate"  >
   insert into symbol_rate(base_symbol,quote_symbol,rate,update_time)values(#{baseSymbol},#{quoteSymbol},#{rate},now())
  </insert>
  
  <update id="updateSymbolRate"  parameterType="com.chainup.common.exchange.entity.SymbolRate"  >
	update symbol_rate
	set rate=#{rate},update_time=now()
	where base_symbol = #{baseSymbol} and quote_symbol = #{quoteSymbol}
  </update>
  
</mapper>